form(id="form" action="/link" method="POST")
  div(class="mdc-text-field url")
    input(type="url" class="mdc-text-field__input" id="url-input" name="url" required)
    label(class="mdc-floating-label" for="url-input") URL
    div(class="mdc-line-ripple")
  div(class="mdc-text-field shortlink")
    input(type="text" class="mdc-text-field__input" id="shortlink-input" name="shortlink")
    label(class="mdc-floating-label" for="shortlink-input") Shortlink (optional)
    div(class="mdc-line-ripple")
  div(class="button-container")
    input(id="form-submit" type="submit" class="mdc-button mdc-button--raised submit")
