form(id="form" action="/link" method="GET" class="mdc-text-field center")
  input(id="form-url" type="text" name="url" class="mdc-text-field__input")
  input(id="form-submit" type="submit" class="mdc-button")
