extends layout

block content
  div(id="header")
    h1(class="mdc-typography--headline1 center") url shortener
    include form.pug

  //- div(class="mdc-layout-grid")
  //-   div(class="mdc-layout-grid__inner")
  //-     div(class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-0-mobile")
  //-     div(class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-middle")
  //-
