doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/material-components-web.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="Description" content="A link shortening service.")
  body(class="mdc-typography")
    div(class="center-screen")
      block content
    script(src="/scripts/material-components-web.min.js")
    script(src="/scripts/index.js")
